<div class="financiacion">
  <div class="container text-light">
    <h2 class="pb-2 ">¿Quires financiar?</h2>
    <p class="lead">En Retomautos tenemos múltiples alternativas para que puedas comprar el carro de tus sueños</p>
    <hr class="my-4">
    <%= link_to 'Más información', financiacion_path, class: 'btn btn-primary btn-lg'  %>
  </div>
</div>

