<div class="financiacion">
  <div class="container">
    <div class="jumbotron-transparent">
      <h2 class="pb-2">Financiaci칩n</h2>
      <p class="lead">Tenemos las mejores opciones de financiaci칩n. Analiza las opciones y calcula tu cuota.</p>
      <hr class="my-4">
      <%= link_to 'M치s informaci칩n', financiacion_path, class: 'btn btn-primary btn-lg'  %>
    </div>
  </div>
</div>