<div class="vitrina">
  <div class="container pb-5">
    <h1>ENCUENTRA TU PRÓXIMO CARRO</h1>
    <div>
      <a class="" href="https://vehiculos.tucarro.com.co/_CustId_28140600" role="button"
         target="_blank">
        <h3>
          DESCUBRE MÁS
          <i class="fas fa-angle-double-right"></i>
        </h3>
      </a>
    </div>

  </div>
</div>