<div class="why-retomautos">
  <div class="container text-center">
    <div class="row">
      <div class="col px-5">
        <i class="fas fa-clipboard-check why-icons"></i>
        <h3>Compra con tranquilidad</h3>
        <p class="lead">Nuestros carros tienen peritaje de Colserautos y revisión de antecedentes de la DIJIN.</p>
      </div>
      <div class="col px-5">
        <i class="fas fa-wallet why-icons"></i>
        <h3>Cuida tu bolsillo</h3>
        <p class="lead">Tenemos una amplia selección de carros de gama media y alta a precios muy competitivos. </p>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col px-5">
        <i class="fas fa-shipping-fast why-icons"></i>
        <h3>Agilidad en los trámites</h3>
        <p class="lead">Sin intermediarios. Los trámites son hechos directamente por Retomautos sin costos escondidos.</p>
      </div>
      <div class="col px-5">
        <i class="fas fa-hand-holding-usd why-icons"></i>
        <h3>Facilidad en financiación</h3>
        <p class="lead">Trabajamos directamente con los bancos para agilizar los procesos y dar mejores opciones de financiación.</p>
      </div>
    </div>
  </div>
</div>