<div>
  <%= image_tag 'feria_2019.jpg', alt: 'Feria 2019', class: 'img-fluid' %>

  <div class="container pt-3">
    <h1 class="text-center font-weight-bold text-dark">Sobre Nosotros</h1>
    <br>
    <div class="row">
      <div class="col-md">
        <p>Somos una empresa de familia con más de 18 años de experiencia  en la venta de vehículos usados de gama alta y media. Nos especializamos en automóviles, camperos y camionetas de uso particular. </p>
        <p>Nos caracterizamos por nuestro excelente servicio al cliente y nuestros precios competitivos.</p>
      </div>
      <div class="col-md">
        <p>En Diciembre de 2019 abrimos nuestra nueva vitrina <strong>Retomautos Selection</strong>, donde encontrarás la mejor selección de vehículos de gama alta. </p>
        <p>Nuestra vitrina ubicada en la Calle 105A sigue abierta y allí encontrarás una amplia selección de vehículos de gama media y alta.</p>
      </div>
    </div>
  </div>
</div>

<%= render 'visitors/visitanos' %>


