<div class="form_submit_view">
  <div class="container pt-5">
    <h2>Gracias por tu pregunta</h2>
    <h5>Uno de nuestros asesores te va a contactar muy pronto</h5>
    <h5><%= link_to 'Volver al Inicio', root_path %></h5>
  </div>
</div>