<!--Inicio financiacion-->
<div class="financiacion">
  <div class="container py-5">
    <h1>¿Estás buscando financiación para comprar tu próximo vehícuo?</h1>
    <h4 class="text-white-50">En Retomautos tenemos múltiples alternativas para que logres alcanzar tus sueños</h4>
  </div>
</div>
<!--End Inicio financiacion-->

<!--Logos aliados financieros-->
<div class="container py-5">
  <%= render 'visitors/aliados_financieros' %>
</div>
<!--End Logos aliados financieros-->

<!--Info financiacion-->
<div class="class info_financiacion text-light">
  <div class="container pt-5">
    <h3>Nuestros aliados financieros te ayudarán a solicitar la financiación que necesitas para tu próximo vehículo</h3>
    <div class="pt-5 mt-3">
      <p><i class="fas fa-check"></i> Financia hasta el 100% del valor de tu vehículo </p>
      <p><i class="fas fa-check"></i> Define el plazo de tu deuda hasta 72 meses </p>
      <p><i class="fas fa-check"></i> Encuentra las mejores tasas de interés </p>
      <p><i class="fas fa-check"></i> Establece diferentes formas de pago </p>
    </div>
    <p class="pt-3">Comunícate con nosotros para iniciar la solicitud. Puedes hacerlo en nuestras instalaciones o de
      manera virtual<sup>*</sup></p>
    <p>Podrás tener respuesta de tu solicitud presentada ante uno de nuestros asesores entre 2 a 7 días hábiles<sup>**</sup></p>
  </div>
</div>
<!--End Info financiacion-->

<!--Documents financiacion-->
<div class="documents_financiacion">
  <div class="container pt-5">
    <h3>¿Qué documentos necesitas presentar?<sup>***</sup></h3>
    <div class="row pt-3">
      <div class="col-md">
        <strong class="text-center">Si eres empleado</strong>
        <p><i class="fas fa-car"></i> Una carta laboral de la empresa donde actualmente trabajas </p>
        <p><i class="fas fa-car"></i> Desprendibles de pago y/o extractos de tu cuenta donde se evidencie el pago de tu nómina de los últimos tres meses </p>
        <p><i class="fas fa-car"></i> Declaración de renta del último año presentado </p>
      </div>
      <div class="col-md">
        <strong class="text-center">Si eres trabajador independiente</strong>
        <p><i class="fas fa-car"></i> declaración de renta del último año presentado </p>
        <p><i class="fas fa-car"></i> RUT </p>
        <p><i class="fas fa-car"></i> Extractos bancarios de tu cuenta de los últimos tres meses </p>
      </div>
      <div class="col-md">
        <strong class="text-center">Si eres pensionado</strong>
        <p><i class="fas fa-car"></i> Las últimas 2 colillas de pago de tu pensión </p>
      </div>
    </div>

    <small><sup>*</sup>Las características de los créditos ofrecidos dependerán de cada Entidad Financiera.
      La aprobación y condiciones aprobadas de cada crédito dependen del perfil de riesgo del cliente evaluado por cada
      Entidad Financiera.
      El proceso de evaluación de crédito es una actividad realizada por cada Entidad Financiera, por lo que Retomautos
      no se compromete con resultado o con las condiciones resultantes del estudio.</small></br>
    <small><sup>**</sup>Cada solicitud de crédito es tramitada ante un funcionario de alguna de las Entidades Financieras aliadas de
      Retomautos, por lo tanto, esta solicitud se hace frente a la Entidad Financiera y no frente a Retomautos.
      Cada solicitud de crédito requiere una autorización para consultar en Centrales de Riesgo.
      Es posible que la Entidad Financiera requiera realizar actividades adicionales a las aquí descritas, por lo tanto no
      puede entenderse lo anterior como una descripción total de los procesos llevados a cabo por las Entidades Financieras.</small></br>
      <small><sup>***</sup>La solicitud de documentos puede variar entre cada Entidad Financiera, por lo que esta es una aproximación a
        la generalidad de documentos solicitados.</small>
  </div>
</div>
<!--End documents financiacion-->