<div class="container py-5">
  <h2>Zona de Pagos</h2>
  <p>Este botón de pagos te va a dirigir al portal de Retomautos dentro de la zona de pagos del Banco Davivienda.</p>
  <p>Por este portal puedes realizar pagos desde 19 diferentes entidades financieras a través del sistema PSE.</p>
  <p>También puedes realizar pagos a Retomautos entrando a la página principal del Banco
    Davivienda: <strong>Empresas/Pagos en Línea y PSE/ Pgos Virtuales</strong>, luego en el buscador ingresa Retomautos.</p>
  <a href="https://www.zonapagos.com/t_Retomautos" title="Pagos Davivienda" target="_blank">
  <%= image_tag 'pagos_davivienda.jpg', alt: 'Botón de pagos', style: "height: 70px", class: "pt-3" %>
  </a>
</div>
<div class="bmw_bg"></div>
