<div class="personal_data">
  <div class="container pt-5">
    <h4>Tratamiento de Datos Personales</h4>
    <p>En cumplimiento de la Ley estatutaria 1581 de 2012, “Por la cual se dictan disposiciones generales para la
    protección de datos personales” y sus Decretos reglamentarios 1377 de 2013 “Por medio del cual se expide el
    Decreto Único Reglamentario del Sector Comercio, Industria y Turismo, y demás normas concordantes, se informa al
    titular de datos que por medio de su conducta está autorizando de manera inequívoca, voluntaria, libre de vicios
      como dolo, error o intimidación para el tratamiento de sus datos personales consignados en el presente formulario.</p>
    <p>Los datos serán incorporados en una base de datos responsabilidad de RETOMAUTOS A&G S.A.S. y serán tratados con
    fines comerciales e institucionales y en general para las actividades que se enmarquen dentro del objeto social del
    responsable, de conformidad con la política de tratamiento de protección de datos a la cual tendrá acceso por la
      <strong>línea de Atención +57 318 4214662</strong> o a través del correo electrónico <strong>retomautos@retomautos.com</strong>,
      donde usted puede ejercer su derecho de manera formal mediante escrito de actualización, acceso, corrección,
      supresión, revocación o reclamo indicando en el Asunto “El derecho que desea ejercer”.</p>
    <p>Como titular declaro haber leído la cláusula sobre tratamiento de datos personales y declaro conocer el contenido
      de las políticas de habeas Data de RETOMAUTOS A&G S.A.S.</p>
  </div>
</div>