<div class="bmw_blog_style mb-5">
  <div class="container">
    <h1 class="display-4 pt-5">Bienvenido al mundo de BMW</h1>
  </div>
</div>

<div class="container mt-4">
  <p>BMW es una reconocida marca de vehículos de origen Alemán, la cual se destaca por su carácter deportivo. Actualmente cuenta con un amplio portafolio de vehículos que van desde un automóvil coupé, hasta camionetas para 7 pasajeros.</p>
  <p>BMW cuenta con un lenguaje de siglas para identificar cada uno de sus vehículos. Pero, ¿cómo identificarlos? ¿Cuál es la diferencia entre un 120i y un 530d? Acá te lo explicamos.</p>

  <p>BMW al igual que otras marcas de vehículos, equipa sus vehículos con diferentes motores, y para identificarlos usa una nomenclatura simple que se compone de 3 números, y una letra (en la mayoría de casos) como podemos ver a continuación:
  </p>

  <strong><p class="text-center">#1#2#3 Y</p></strong>

  <p>
    <strong>#1:</strong> hace referencia al tipo de vehículo (o serie). Los números van del 1 al 8, donde entre mayor sea el número mayor es el tamaño y la gama del vehículo.</br>
    <strong>#2 y #3:</strong> hacen referencia a la potencia del motor, entre mayor sea el número, mayor es la potencia.<br/>
    <strong>Y:</strong> hace referencia a el tipo de motor que tiene:
  </p>
  <ul>
    <li>i : motores gasolina</li>
    <li>d: motores diesel</li>
    <li>e: motorización híbrida (motor gasolina + motor eléctrico)</li>
  </ul>
  <p><%= link_to 'Artículo: Los automóviles de BMW', blog_posts_las_series_de_bmw_path %></p>
</div>