<div class="container mt-4">
  <h1>Las Series de BMW</h1>

  <p>Serie1:</p>
  <p>Es un automóvil con carrocería hatchback de 3 o 5 puertas, y es el más pequeño producido por la marca, y es de un carácter deportivo y juvenil.
    </br>
    Anteriormente, el serie 1 también tenía carrocería coupé 2 puertas y convertible, estas fueron reemplazadas por el serie 2 a partir del 2015.
  </p>

  <p>Serie 2:</p>
  <p>Es un automóvil coupe, convertible o gran coupe (carrocería deportiva similar a un coupe pero con 4 puertas en vez de 2), basado en la misma plataforma o chasis del Serie 1. Es un carro pequeño y deportivo.
    El serie 2 reemplazó al serie 1 coupé y convertible que se ofrecía anteriormente.
  </p>

  <p>Serie 3:</p>
  <p>Es un automóvil que ofrecen en carrocería sedán o station wagon de tamaño intermedio, y es el más vendido por la marca gracias a su carácter deportivo.</p>

  <p>Serie 4:</p>
  <p>Es un automóvil coupé, gran coupé, o convertible de tamaño similar al serie 3 ya que está basado en la misma plataforma.
    El serie 4 reemplazó al serie 3 coupe y convertible que vendían anteriormente.
  </p>

  <p>Serie 5:</p>
  <p>Es un automóvil ejecutivo que ofrecen en carrocería sedán o station wagon. En dimensiones, es más grande que su hermano menor el serie 3, y tiene un carácter más elegante.</p>

  <p>Serie 6</p>
  <p>Es un automóvil coupé, gran coupé o convertible. Son automóviles deportivos, grandes y cómodos. Basado en la plataforma del serie 5.</p>

  <p>Serie 7</p>
  <p>Es el automóvil más lujoso y grande de la marca, ofrecido únicamente en carrocería sedán.</p>

  <p>Serie 8</p>
  <p>Es un automóvil lujoso y deportivo, viene en carrocería coupé, gran coupé, y convertible. Basado en la plataforma del serie 7.</p>
</div>