<div class="bmw_blog_style mb-5">
  <div class="container">
    <h1 class="display-4 pt-5">Blog de Retomautos</h1>
  </div>
</div>

<h1>Los Motores de BMW</h1>

<p><%= link_to 'Artículo: Los deportivos de BMW', blog_posts_los_deportivos_de_bmw_path %></p>