<div class="bmw_blog_style mb-5">
  <div class="container">
    <h1 class="display-4 pt-5">Los Roadster de BMW</h1>
  </div>
</div>
<div class="container py-3">
  <p>BMW tiene una línea especial de roadster, vehículos deportivos convertibles para 2 pasajeros. Estos, son identificados por la letra Z. El más famoso de ellos es el Z4, el cual se vende actualmente y es el sucesor del Z3 de los años 90. El Z8 era en roadster de alta gama que se produjo en la década del 2000, y el Z1 fue un roadster pequeño y liviano que se produjo hasta 1991.</p>
  <p>El BMW Z4, es un deportivo de dos puestos convertible, que se caracteriza por su largo capó y baja altura, lo cual le da un carácter deportivo. A partir del 2018 lanzaron la versión actual que cuenta con techo en lona, pero la carrocería anterior (producida entre 2010 y 2016) contaba con techo duro.</p>
  <p> Para identificar la motorización en estos carros, BMW utiliza una nomenclatura similar a la de los automóviles, compuesta por dos números principalmente y comparte motorización con el resto de vehículos de la marca. Entonces, el BMW Z4 20i, cuenta con el mismo motor de un BMW 320i por ejemplo, y el Z4 40i cuenta con el mismo motor de un BMW 240i.</p>
  <p><%= link_to 'Artículo: Los Motores de BMW', blog_posts_los_motores_de_bmw_path %></p>
</div>
