<div class="bmw_blog_style mb-5">
  <div class="container">
    <h1 class="display-4 pt-5">Los Deportivos de BMW</h1>
  </div>
</div>

<div class="container py-3">
  <p>BMW cuenta con una línea especial de vehículos deportivos, los cuales hacen parte de la división BMW Motorsport, y utilizan la letra M para diferenciarse del resto de vehículos de la marca.</p>
  <p>Lo que hace BMW Motorsport, es tomar como base los carros de la marca y realizar modificaciones en carrocería, motorización, transmisión, y suspensión; para crear vehículos de altas prestaciones que pueden ser utilizados en el día a día para ir al trabajo, y el fin de semana para ir a la pista.</p>
  <p>El primero de estos vehículos fue el BMW M3, que hizo su aparición en los años 80’s. Se basó en la carrocería del serie 3 coupé de la época, pero con varias modificaciones para hacerlo más deportivo y veloz. Gracias a su éxito en ventas, la marca decidió aplicar la misma fórmula en otros vehículos existentes.</p>
  <p>Actualmente encontramos el M2, M3, M4, M5, M6, y M8.</p>
  <p>Hoy en día, la gama de vehículos M creció a tal punto, que algunas de las camionetas de la marca cuentan con se versión deportiva M.</p>
  <p>En camionetas, actualmente contamos con X3 M, X4 M, X5 M, y X6 M.</p>
  <p><%= link_to 'Regresar a la página de Blogs', blog_posts_path %></p>
</div>