<div class="bmw_blog_style mb-5">
  <div class="container">
    <h1 class="display-4 pt-5">Los Motores de BMW</h1>
  </div>
</div>
<div class="container py-3">
  <p>Como lo mencionamos en el artículo “Bienvenidos al mundo de BMW”, la nomenclatura que identifica los vehículos de BMW está compuesta por 3 números. El primer número hace referencia a la carrocería del carro, y los últimos dos hacen referencia al motor que tiene.</p>
  <p>En un principio estos números hacían referencia a la capacidad volumétrica (tamaño del motor). Es decir que un BMW 328i tenía un motor 2.8 litros, mientras que un 325i tenía uno 2.5 litros, y esto se cumple para la mayoría de carros del 2010 para atrás.</p>
  <p>Las cosas empezaron a cambiar con la introducción de los motores turbo. En los primeros motores que vimos esto fueron  3 litros turbo, a los cuales les asignaron los números 35 para diferenciarlos del motor 3 litros aspirado (sin turbo) que utilizaba los números 30. Un ejemplo de esto son el BMW 130i y el 135i.</p>
  <p>A medida que se fueron reemplazando todas las motorizaciones por motores turbo, los números dejaron de hacer referencia al tamaño del motor, y empezaron a hacer referencia a la potencia del motor. Por ejemplo, hoy en día un 320i está equipado con un motor 2.0 litros 4 cilindros turbo de 184 caballos, y un 330i también está equipado un motor 2.0 litros 4 cilindros turbo pero de mayor potencia: 258 caballos.</p>
  <p>BMW comparte motores entre varios de sus carros, por ejemplo un BMW 320, un 520 y una X3 20i tienen el mismo motor.</p>
  <p><%= link_to 'Artículo: Los deportivos de BMW', blog_posts_los_deportivos_de_bmw_path %></p>
</div>


