@import "color-variables";
@import "fonts";
@import "bootstrap_customization/variables";
@import "bootstrap";
@import "bootstrap_customization/overrides";
@import "visitors";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "lists";
@import "buttons";
@import "navbar";


h1, h2, h3, h4, h5 h6 {
  font-family: 'Oswald';
}

p, li {
  font-family: Baloo_Thambi_2;
  font-size: 1rem;
}
