@font-face {
  font-family: 'Oswald';
  src: font_url('Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Baloo_Thambi_2';
  src: font_url('Baloo_Thambi_2/BalooThambi2-Regular.ttf');
}