@import "bootstrap";
@import "color-variables";

.navbar-shadow {
  box-shadow: 0px 9px 20px 0px rgba(0,0,0,0.75);
  z-index: 100;
}



.bg-gray-100 {
  background-color: $gray-100;
}

.vitrina {

  background-image: image-url("blue_bmw_small.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.20);
  color: $gray-100;
  .container-form {
    padding-top: 2rem;
    padding-bottom: 21rem;
  }


  h1 {
    font-family: "Oswald";
  }

  a {
    color: $contrast-orange;
  }


  @media (min-width: 992px) {
    background-image: image-url("carros.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.10);
    .container-form {
      padding-top: 21rem;
      padding-bottom: 3rem;
    }
  }
 }

.sombra_cuadros {
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}



// Financiacion
.financiacion {
  background-image: image-url("bmw_bnw_sm.jpg");
  background-size: cover;
  height: 85vh;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.30);

  .container  {
    position: relative;
    top: 5%;
  }

  @media (min-width: 992px) {
    background-image: image-url("bmw_orange.jpg");
    .container  {
      position: relative;
      top: 45%;
    }
  }
}


.sold-badge {
  @extend .badge;
  @extend .badge-primary;
  @extend .font-weight-normal;
}

// Por que Retomautos

.why-icons {
  font-size: xx-large;
  padding-bottom: 25px;
}

.why-retomautos {
  background-color: #070707;
  background-image: image-url("carro_negro.jpg");
  background-size: cover;
  height: 1000px;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.50);
  color: white;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media (min-width: 576px) {
    height: 80vh;

    .container {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}

// Find car form
.find_car_style {
  background-image: image_url("fondo_car_request_sm.jpg");
  background-size: cover;
  height: 1400px;
  width: 100%;
  font-family: "Baloo_Thambi_2";
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.20);
  color: $gray-300;

  @media (min-width: 992px) {
    background-image: image_url("fondo_car_request.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.30);
  }
}

// Footer
.business-hours {
  .title {
    @extend .font-weight-bold;
  }
  .day-hour-pair {
    .day {
      display: inline-block;
      width: 160px;
    }
    .hour {
      display: inline-block;
    }
  }
}
.social-icons {
  font-size: $h3-font-size;
}

//Nuestras marcas
.brands-logo {
  filter: grayscale(100%);
  max-width: 70%;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 992px) {
    padding-left: 2rem;
    padding-right: 2rem;
    }
}

.blue-background {
  background-color: #6aa0cfc2
;
}

// Blog
.blog_style {

  background-image: image-url("blog_background.jpg");
  background-size: cover;
  height: 65vh;
  color: $gray-100;
}

.bmw_blog_style {

  background-image: image-url("blog_photos/bmw_blog.jpg");
  background-size: cover;
  height: 65vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .35);
  color: $gray-100;
  filter: grayscale(100%);
}

// Whatsapp bubble
.bubble_anchor{
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  z-index: 100;
}

.bubble_element{
  box-shadow: 2px 2px 3px #999;
  border-radius: 50px;
}

// Financiacion
.financiacion_page {
  background-image: image-url("blue_bmw_small.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px
  rgba(0, 0, 0, .15);
  h5 {
    font-family: "Baloo_Thambi_2";
  }

  @media (min-width: 992px) {
    background-image: image-url("bmw_financiacion.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.10);
  }
}

.financiacion_title {
  padding-top: 3rem;
  padding-bottom: 14rem;
  @media (min-width: 992px) {
  }
}

.info_financiacion {
  background-image: image-url("info_financing_car_sm.jpg");
  background-size: cover;
  height: 80vh;
  //box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .20);
  p {
  font-size:18px;
  }
  @media (min-width: 992px) {
    background-image: image-url("info_financing_car.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.20);
  }
}


.brands-financiacion-logo {
  filter: grayscale(100%);
}

.documents_finance {
h5 {
  font-family: "Oswald";
  }
}

// Pagos
.payments {
  background-image: image-url("find_car_background_2.jpg");
  background-size: cover;
  height: 180vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .20);
}

.bmw_bg {
  background-image: image-url("bmw_bg_sm.jpg");
  background-size: cover;
  height: 80vh;
  //box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .20);

  @media (min-width: 992px) {
    background-image: image-url("bmw_bg.jpg");
    //box-shadow: inset 0 0 0 1000px rgba(0,0,0,.10);
  }
}

// After form view
.form_submit_view {
background-image: image-url("find_car_background_2.jpg");
background-size: cover;
height: 824px;
  h5 {  font-family: 'Baloo_Thambi_2';
  }
}
// Forms
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}

//personal_data
.personal_data {
  background-image: image-url("fondo_car_request_sm.jpg");
  background-size: cover;
  color: $gray-100;
  height: 1400px;

  @media (min-width: 992px) {
    background-image: image-url("fondo_car_request.jpg");
    height: 1400px;
  }
}