<p>Hola <%= @resource.email %>!</p>

<p>Recibimos una solicitud para cambiar tu clave. Puedes hacer el cambio en el siguiente link.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<!--<p>If you didn't request this, please ignore this email.</p>-->
<p>La clave no va a cambiar hasta que entres al link y hagas el cambio.</p>
