<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Pregunta de Cliente</h1>
<h5>Un cliente hizo uana pregunta desde la página web. Por favor contactarlo.</h5>
<p>
  Datos del cliente:
</p>
<p>
  Nombre: <%= @client.name %><br/>
  Email: <%= @client.email %><br/>
  Teléfono: <%= @client.phone || "N/A" %><br/>
</p>
<p>
  Pregunta: <%= @inquiry.body %>
</p>
</body>
</html>