<div class="card mt-3">
  <div class="card-header font-weight-bold">Información del Proceso</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Fecha de creación: <%= format_datetime(@buy_process.created_at) %></li>
    <li class="list-group-item">Iniciado desde: <%= @buy_process.source %></li>
<!--    <li class="list-group-item">Estado: <%#=  %></li>-->
    <li class="list-group-item">Carro(s):</li>
    <ul>
      <% if @car_interests.size > 0 %>
        <% @car_interests.each do |car_interest| %>
          <li class="list-group-item"><%= "#{car_interest.car.description} | #{car_interest.car.year}" %></li>
        <% end %>
      <% else %>
        <li class="list-group-item">No hay carros registrados</li>
      <% end %>
    </ul>
  </ul>
</div>