<div class="card mt-3">
  <div class="card-header font-weight-bold">Preguntas no relacionadas a un carro</div>
  <ul class="list-group list-group-flush">
    <% buy_process_inquiries.each do |buy_process_inquiry| %>
      <li class="list-group-item"><%= format_date(buy_process_inquiry.created_at) %>: <%= buy_process_inquiry.body %></li>
    <% end %>
    <% if buy_process_inquiries.size == 0 %>
      <li class="list-group-item">No hay preguntas registradas</li>
    <% end %>
  </ul>
</div>
