<!--<a href="https://wa.me/573184214662?text=%C2%A1Hola%20%F0%9F%91%8B!%20%0AVi%20un%20carro%20que%20tienen%20publicado%20y%20quisiera%20tener%20m%C3%A1s%20informaci%C3%B3n" class="bubble_anchor">-->
  <%#= image_tag 'whatsapp.png', alt: 'Whatsapp', height: '50px', target: '_blank', class: 'bubble_element' %>
<!--</a>-->